.subathon-timer {
    font-size: 50px;
    color: white;
    filter: drop-shadow(5px 5px 2px #000000);
}

vaadin-card::part(header) {
    background-color: var(--lumo-primary-color-10pct);
    border-radius: var(--lumo-border-radius-l);
    padding: var(--lumo-space-s) var(--lumo-space-m);
}

.neon {
    color: #8f8;
    text-shadow:
        0 0 5px #2f2,
        0 0 10px #2f2,
        0 0 20px #0f0,
        0 0 40px #0f0
}