subathon-timer {
    font-size: 75px;
    font-family: K2D SemiBold sans-serif;
    color: white;
    filter: drop-shadow(5px 5px 2px #000000);
}

.neon {
    color: #8f8;
    text-shadow:
        0 0 5px #2f2,
        0 0 10px #2f2,
        0 0 20px #0f0,
        0 0 40px #0f0
}